* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}


.container {
    max-width: 981px;
    margin: 0 auto;
    padding: 0 10px
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header_inner-logo {
    display: flex;
    align-items:center;
}
.name_site-top {
    font-size: 22px;
    line-height: 22px;
    color: #3E3E3E;
    font-weight: bold;
}
.name_site-text {
    font-size: 10px;
    line-height: 10px;
    color: #3E3E3E;
}
.name_site {
    text-align: left;
}
.contacts {
    text-align: right;
}
.phone {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    color: #3E3E3E;

}
.date {
    font-size: 10px;
    line-height: 10px;
}
.section {
    background-image: url(/img/Group\ 1.png);
    max-width: 1200px;
    height: 550px;
    position: relative;
    margin: 0 auto;
}
.nav {
    
   
}

.nav_title {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.nav_list {
    font-size: 15px;
    line-height: 15px;
    width: 160px;
    height: 25px;
    text-align: center;
    padding-top: 15px;
    color: #FFFFFF;
}
.nav_list-site{
    color: #FFFFFF;
    text-decoration: none;
}
.line {
    max-width: 961px;
    

}

.title {
    margin: 74px 0px 40px 120px;
    width: 426px;
    height: 100px;
    font-size: 42px;
    line-height: 46px;
    color: #FFFFFF;

}
.text_title {
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 30px 0px 25px 120px;

}
.bottom_title {
    width: 140px;
    height: 40px;
    background-color: #FFFFFF;
    margin: 0px 0px 186px 120px;
    text-align: center;
    padding-top: 10px;
    border-radius: 8px;
   
}
.bottom {
    font-size: 18px;
    line-height: 18px;
    color: #4B9D53;
    text-decoration: none;

}

.title_slick {
    padding: 149px 0px 25px 0px;
    font-size: 42px;
    line-height: 46px;

}
.container_slick {
    max-width: 100%;
    margin: 0 auto;
    
}
.slick {
    
    height: 360px;
    display: flex;
    justify-content: center;
    
    
}
.slider_red {
    width: 360px;
    height: 450px;
    background-color: #DCDADA;
    padding: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.2s;
    background-image:url(/img/Грузоперевозки.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 87px 123px;
}
.slider_red:hover {
    transform: scale(1.08);
    z-index: 2;
    background-color: #489950;
    color: #ffffff;
    
}
.slider_orange {
    width: 360px;
    height: 450px;
    background-color: #DCDADA;
    position: relative;
    overflow: hidden;
    padding: 20px;
    z-index: 1;
    transition: 0.2s;
    background-image:url(/img/Аренда\ техники.png);
    background-repeat: no-repeat;
    background-size: 150%;
}
.slider_orange:hover {
    transform: scale(1.08);
    z-index: 2;
    background-color: #489950;
    
}
.slider_green {
    width: 360px;
    height: 450px;
    background-color: #DCDADA;
    position: relative;
    overflow: hidden;
    padding: 20px;
    z-index: 1;
    transition: 0.2s;
    background-image:url(/img/Intersect.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 25px 123px;


}
.slider_green:hover {
    transform: scale(1.08);
    z-index: 2;
    background-color: #489950;
    
}
.slider_gray {
    width: 360px;
    height: 450px;
    background-color: #DCDADA;
    position: relative;
    overflow: hidden;
    padding: 20px;
    z-index: 1;
    transition: 0.2s;
    background-image: url(/img/Реклама\ ТК\ картинка.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 75px -100px;

}
.slider_gray:hover {
    transform: scale(1.08);
    z-index: 2;
    background-color: #489950;
    
}
.slider_top {
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #3E3E3E;
}


.slider_title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #3E3E3E;
}
.main_big {
    margin: 0 auto;
    max-width: 1200px;
    height: 550px;
    margin-top: 210px;
    background-image:url(/img/Баннер\ о\ компани.png);
    padding: 78px 710px 10px 100px;
    margin-bottom: 110px;
}


.main_top {
    font-size: 42px;
    line-height: 46px;
    font-weight: 500;
    margin-bottom: 20px;
}
.main_text {
    font-size: 20px;
    line-height: 27px;
    color: #3D3E3E;
}
.footer {
    max-width: 1440px;
    height: 157px;
    background-color: #489950;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0px 240px 0px 242px;
    align-items: center;
    
}
.logo_top {
    display: flex;
    align-items:center;
}
.logo_botton {
    
    left: 220px;
    
}
.text_footer {
    font-size: 10px;
    line-height: 10px;
    color: #FFF;
    flex-basis: 50%;
    
}
.tel {
    font-size: 15px;
    line-height: 15px;
    color: #FFF;

}
.time {
    font-size: 15px;
    line-height: 15px;
    color: #FFF;
}
.email {
    font-size: 18px;
    line-height: 18px;
    color: #FFF;
}

/* mobile */

